dist/
node_modules/
CurrentROMs/
CurrentSaves/
!sessions/default/CurrentROMs/.gitkeep
!sessions/default/CurrentSaves/.gitkeep
./config.json
config.json
bizhawk-crowd-shuffler-*
!bizhawk-crowd-shuffler-win.bat
!bizhawk-crowd-shuffler-linux.sh
.env
